.Weather {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
}

.Weather .weather-icon {
    position: relative;
    top: -20px;
    margin-right: 10px;
}

.Weather .weather-forecast {
    margin-top: 5px;
    text-align: center;
}

.Weather .weather-forecast-date {
    font-size: 16px;
}

.Weather .weather-forecast-temperature-min {
    opacity: 0.6;
}

.Weather .weather-forecast-temperatures {
    font-size: 13px;
}

.Weather .search-form {
    margin-bottom: 20px;
}